*.o
*.lo
*.la
*.ld
*.a
*.d
*.jpg
*.png
*.gcda
*.gcno
perf.data
*.dot
demo
effect_chain_test
gamma_compression_effect_test
gamma_expansion_effect_test
alpha_multiplication_effect_test
alpha_division_effect_test
colorspace_conversion_effect_test
mix_effect_test
overlay_effect_test
saturation_effect_test
deconvolution_sharpen_effect_test
blur_effect_test
unsharp_mask_effect_test
diffusion_effect_test
white_balance_effect_test
lift_gamma_gain_effect_test
resample_effect_test
dither_effect_test
glow_effect_test
padding_effect_test
flat_input_test
ycbcr_input_test
ycbcr_422interleaved_input_test
complex_modulate_effect_test
fft_pass_effect_test
fft_convolution_effect_test
fp16_test
luma_mix_effect_test
slice_effect_test
vignette_effect_test
ycbcr_conversion_effect_test
deinterlace_effect_test
chain-*.frag
movit.info
coverage/
aclocal.m4
autogen.sh
autom4te.cache/
config.h.in
config.log
config.status
.libs
config.guess
config.sub
install-sh
libtool
ltmain.sh
m4
configure
Makefile
movit.pc
